@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

body {
  margin: 0px;
  font-family: "Syne", sans-serif;
}

.container {
  --row1-height: 150px;
  display: grid;
  grid-template-columns: 275px 1fr 300px;
  grid-template-rows: var(--row1-height) minmax(
      calc(100vh - var(--row1-height)),
      1fr
    );
}

.header {
  background-color: white;
  grid-column: 2 / -1;
  box-shadow: 0px 5px 5px #888;
  z-index: 1;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px 1fr;
  align-items: center;
  padding: 6px;
}

.sidebar {
  background-color: #0ea5e9;
  padding-left: 15px;
  color: white;
  grid-row: 1 / -1;
  padding-top: 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 250px 250px;
  gap: 15px;
}

.sidebar > .logo {
  font-size: 38px;
  font-weight: 700;

  display: flex;
  gap: 8px;
  align-items: center;
}

.dashboard-icon {
  height: 40px;
  width: 40px;
}

.user-options > ul,
.main-options > ul {
  list-style-type: none;
  font-size: 24px;
  margin: 0px;
  padding-left: 15px;
  transition: 100ms;

  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.user-options > ul > li:hover,
.main-options > ul > li:hover {
  transform: translate(2px, -2px);
}

.user-options > ul > li,
.main-options > ul > li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-content {
  background-color: rgb(218, 214, 214);
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  padding: 15px;

  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: minmax(300px, auto) 1fr;
  gap: 15px;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search > input {
  width: 90%;
  height: 26px;
  background-color: rgb(218, 214, 214);
  border-radius: 15px;
  outline: none;
  border: none;
}

.login-info {
  font-size: 20px;
  font-weight: 700;

  display: flex;
  gap: 16px;
  align-items: center;
}

.about-user {
  font-weight: 700;
  margin-left: 24px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.greeting {
  font-size: 14px;
}

.user-info {
  font-size: 24px;
}

.header-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
}

.header-options > button {
  background-color: #0ea5e9;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-size: 20px;
  padding: 4px 6px;
  width: 100%;
}

.icon {
  height: 25px;
  width: 25px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.trending {
  grid-row: 2;
  grid-column: 2;
}

.projects {
  grid-row: 1 / -1;
  grid-column: 1;
}

.project-items {
  margin-top: 15px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 8px;
}

.project-card {
  padding: 15px;
  background-color: white;
  position: relative;

  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.project-card::before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: yellow;
  border-radius: 8px;
}

.project-header {
  font-size: 20px;
  font-weight: 700;
}

.description {
  font-size: 18px;
  color: rgb(172, 172, 172);
}

.project-buttons {
  height: 50px;
  align-self: flex-end;

  display: flex;
  gap: 12px;
  align-items: center;
}

.project-btn {
  width: 25px;
  transition: 100ms;
}

.project-btn:hover {
  transform: scale(110%);
}

.announcement-container,
.trending-container {
  margin-top: 15px;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  padding: 30px 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.announcement {
  border-bottom: 1px solid #888;
}

.ann-header {
  font-size: 18px;
  font-weight: 700;
}

.ann-content {
  font-size: 16px;
  margin-bottom: 8px;
}

.announcement:last-child {
  border-bottom: none;
}

.trending-item {
  display: flex;
  gap: 8px;
  margin-left: 30px;
  align-items: center;
}

.name {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.trending-item .description {
  font-size: 16px;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
}

.username {
  display: flex;
  align-items: center;
  gap: 8px;
}

.small-profile {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.big-profile {
  width: 70px;
  border-radius: 35px;
}
